$darkgrey: gainsboro;
$lighgrey: whitesmoke;
$green: yellowgreen;
$red: crimson;
$font: 'Alegreya Sans', sans-serif;
$fontsize: 15px;
$border: 0.5px $darkgrey solid;

@mixin placement {
  display: flex;
  flex-direction: row;
  list-style: none;
  border: $border;
  padding: 0 20px;
}

@mixin downloadwrapperfont {
  font-size: 25px;
  font-weight: 400;
  margin: 15px 25px 15px 15px;
  font-family: $font;
}

@mixin downloadheadingsfont {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 10px;
  font-family: $font;
}

h1 {
  font-family: $font;
}

.fileWrapper {
  border: $border;
  border-radius: 1px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px $darkgrey;
}

.downloadWrapper,
li,
.downloadHeadings {
  @include placement();
}

.downloadHeadings {
  padding: 0 60px;
  .path {
    width: 520px;
  }
  h3 {
    @include downloadheadingsfont();
    width: 150px;
  }
}

.downloadWrapper {
  align-items: center;
  h2 {
    @include downloadwrapperfont();
  }
  button {
    border: none;
    padding: 0;
    height: auto;
    @include downloadwrapperfont();
  }
  .svg {
    height: 15px;
  }
}

input {
  margin-right: 20px;
  align-self: center;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  p {
    width: 150px;
    margin: 15px 10px;
    font-size: $fontsize;
    font-family: $font;
  }
  .path {
    width: 500px;
  }
  .available {
    height: 20px;
    width: 20px;
    background-color: $green;
    border-radius: 50%;
    display: inline-block;
    margin: 15px 0 15px 10px;
  }
  div {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
  }
}

.scheduled {
  width: 20px;
  margin: 15px 0 15px 10px;
}

li:hover {
  background-color: $lighgrey;
}

.true {
  background-color: $darkgrey;
}

.modalWrapper {
  width: 100vw;
  height: 100vh;
}

.modal {
  background: $lighgrey;
  border-radius: 1px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $border;
  .scheduled {
    color: $red;
    width: auto;
    margin: 15px 0;
  }
  button {
    padding: 15px;
    font-size: $fontsize;
    background-color: white;
    text-transform: capitalize;
    border-radius: 1px;
  }
  p {
    font-family: $font;
  }
}
